.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background: red;
}
.two { 
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background: rosybrown;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background: salmon;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background: seagreen;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background: slategrey;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background: rgb(87, 0, 128);
}
.seven {
    grid-column: 3;
    grid-row: 4;
    background: yellowgreen;
}

.eight {
  grid-column: 3;
  grid-row: 4;
  background: lavender;
}

.nine {
  grid-column: 3;
  grid-row: 4;
  background:navy;
}
