<!--bandeau acceuil-->

body{
    font-family: 'Quicksand', sans-serif;
}

header, h1{
    margin: 5px;
    padding: 5px;
}

header{
    width: 100%;
    height: 100%;
}

body> header{
background-color: rgb(238, 184, 136);
width: 100%;
height: 15%;
}

.titre{
    font-family: "Quicksand";
    font-weight: 700;
    text-align:center;
    color: firebrick;
    text-transform: capitalize;
    margin-top: -8%;
}

.titre2{
    text-align:center;
    color: firebrick;
    text-transform: capitalize;
}

<!--logo-->
#logo{
    height: 50%;
    width: 50%;
}   

<!--Menu déroulent-->

*{
    margin:0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{

    width: 100%;
    margin: 0 auto;
    background-color: rgba(243, 115, 64, 0.884);
    position: sticky;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: rgb(247, 243+8228+ 243);
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: firebrick;
    border-bottom: 2px solid firebrick;
}

#histoire{
font-family: 'Quicksand', sans-serif ;
background-color:burlywood;
width: 750px;
min-width: 400px;
text-align: justify;
color: white;
padding: 50px;
margin: 100px;
position: absolute;
top: 150px;
right: -100px;
}

<!--Caroussel-->

#slider 
{ width: 80%; max-width: 1000px; } 

     #slider figure 
     {
       position: relative; 
       width: 500%;
       margin: 0;
       padding: 0;
       font-size: 0;
       text-align: left;
     }

div#slider figure img 
{
   width: 20%;
   height: auto;
   left: 0;
   float: left;
   -webkit-transform: none;
   transform: none;
 }

 @keyframes slidy 
 {
     0% { left: 0%; }
     20% { left: 0%; }
     25% { left: -100%; }
     45% { left: -100%; }
     50% { left: -200%; }
     70% { left: -200%; }
     75% { left: -300%; }
     95% { left: -300%; }
     100% { left: -400%; }
 }

div#slider figure 
{
 position: relative;
 width: 500%;
 margin: 0;
 padding: 0;
 font-size: 0;
 left: 0;
 text-align: left;
 animation: 30s slidy infinite;
}

div#slider 
{ width: 80%; max-width: 1000px; overflow: hidden }

.picture
{max-width: 1000px}

#slider
{
 margin-left: auto;
 margin-right: auto;
}



/*lien reseaux sociaux*/


.reseauxsociaux {
    display: flex;
    flex-direction: row;
}
#twitter{
    width: 2.5%;
}
#linkedin{
    width: 2.5%;
}