*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif ;
}

img{
    width:100%;
}

<!--bandeau acceuil-->

body{
    font-family: 'Quicksand', sans-serif;
    
}

nav#menu{

    margin: 0 auto;
    background-color: purple;
    position: sticky;
    z-index: 999;
    top: 0px;
    height:100px;
    border-radius: 70px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    padding-top: 40px;
}

#grille{
    background-color: olivedrab;
    border-width: 5px;
}

nav a:hover{
    color:gold;
    
}



header > h1{
    margin: 5px;
    padding: 5px;
}

#tete{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

}

.logo{
    width: 230px;
    }


.accroche{


}

body> header{
    background-color: whitesmoke;

}

.titre{
    font-family: "Quicksand";
    font-weight: 700;
    text-align:center;
    color: firebrick;
    text-transform: capitalize;
}

.titre2{
    text-align:center;
    color: firebrick;
    text-transform: capitalize;
}
.cita{
    padding-bottom: 10%;
}
.curi{
    padding-bottom: 10%;

}
.histo{

    padding-bottom: 2em;  
}

#profil, #cv, #citation, #production, #Contact{
    padding-left: 10px;
}
<!--logo-->


<!--Menu déroulent-->

*{
    margin:0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

h2{
    color: purple; 
  font-size: 1.5em;      
}

#histoire{

background-color:rgb(241, 175, 88);
text-align: justify;
color: white;
padding: 50px;

}

#profil > h2{
display: none;
}

<!--Caroussel-->


     #slider figure 
     {
       position: relative; 
       z-index: 1;
       width: 500%;
       margin: 0;
       padding: 0;
       font-size: 0;
       text-align: left;
     }

div#slider figure img 
{
   width: 20%;
   height: auto;
   left: 0;
   float: left;
   -webkit-transform: none;
   transform: none;
 }

 @keyframes slidy 
 {
     0% { left: 0%; }
     20% { left: 0%; }
     25% { left: -100%; }
     45% { left: -100%; }
     50% { left: -200%; }
     70% { left: -200%; }
     75% { left: -300%; }
     95% { left: -300%; }
     100% { left: -400%; }
 }

div#slider figure 
{
 position: relative;
 width: 500%;
 margin: 0;
 padding: 0;
 font-size: 0;
 left: 0;
 text-align: left;
 animation: 30s slidy infinite;
}

div#slider 
{ width: 80%; max-width: 1000px; overflow: hidden }

.picture
{max-width: 1000px}

#slider
{
 margin-left: auto;
 margin-right: auto;
}

.accroche > h2{
    color: orangered;
}

.accroche > h1,h3{
    color: purple;
}

.accr

/*lien reseaux sociaux*/

footer{
    background: purple;
    background-size: cover;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 70px;
    padding-top: 70px;
}
#Contact{
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: center;
    align-self: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.reseauxsociaux {
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
}

.credit{
    grid-row-start:3;
    grid-row-end: 3;
    justify-self: center;
    align-self: center;
}
#twitter{
    width: 80px;

}
#linkedin{
    width: 80px;
}

#Cont, #credit{
    text-align: center;
    color: white;
}

#Contact > p{
    text-align: center;
    color: white;
}

@media (min-width: 720px) { 

#tete{
    flex-flow: row wrap;
}

.logo{
    margin-right: 15px;
    margin-left: 15px;
    justify-self: flex-start;
}

.accroche{
    margin-left: 15px;
}

    #corps{
        display: grid;
        grid-template-columns: 400px 1fr;
    }

    #profil{
        grid-column: 1 / 2;
        grid-row: 1 /2;
    }

    #histoire{
        grid-column: 2 / 3;
        grid-row: 1 /4;
    }

    #citation{
        grid-column: 1 / 2;
        grid-row: 2 /3;   
     }

     #cv{
         grid-column: 1/2;
         grid-row: 3/4;;
     }

     #production{
         grid-column: 1/-1;
         grid-row: 4/5;
     }

     .accroche{

     }
 }